*/__pycache__
/Leaderboard/Advent-of-Code-Data/*.png
/Leaderboard/Advent-of-Code-Data/*.csv
/Leaderboard/Advent-of-Code-Data/*.md
/Leaderboard/Advent-of-Code-Data/*.xlsx
.idea
.idea/*
/Leaderboard/leaderboard.json